<p-dataTable [value]="courses">
    <p-column field="subject" header="Sujet" [sortable]="true"
              [filter]="true" filterMatchMode="contains"></p-column>
    <p-column field="level" header="Niveau" [sortable]="true"
              [filter]="true" filterMatchMode="contains"></p-column>
    <p-column field="specialty" header="Spécialité" [sortable]="true"
              [filter]="true" filterMatchMode="contains"></p-column>
    <p-column field="year" header="Année" [sortable]="true"
              [filter]="true" filterMatchMode="contains"></p-column>
    <p-column styleClass="col-button">
        <ng-template pTemplate="header">
            Gérer exercices
        </ng-template>
        <ng-template let-course="rowData" pTemplate="body">
            <button type="button" pButton class="btn-list-search"
                    (click)="selectSearchCourseExercice(course)" icon="fa-search"></button>
        </ng-template>
    </p-column>
    <p-column styleClass="col-button">
        <ng-template pTemplate="header">
            Assigner exercices
        </ng-template>
        <ng-template let-course="rowData" pTemplate="body">
            <button type="button" pButton class="btn-list-search"
                    (click)="selectCourseExercice(course)" icon="fa-arrows-h"></button>
        </ng-template>
    </p-column>
    <p-column styleClass="col-button">
        <ng-template pTemplate="header">
            Gérer documents
        </ng-template>
        <ng-template let-course="rowData" pTemplate="body">
            <button type="button" pButton class="btn-list-search"
                    (click)="selectSearchCourseDocument(course)" icon="fa-search"></button>
        </ng-template>
    </p-column>
    <p-column styleClass="col-button">
        <ng-template pTemplate="header">
            Assigner documents
        </ng-template>
        <ng-template let-course="rowData" pTemplate="body">
            <button type="button" pButton class="btn-list-search"
                    (click)="selectCourseDocument(course)" icon="fa-arrows-h"></button>
        </ng-template>
    </p-column>
</p-dataTable>
